.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    /* animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    translate: 100px 100px; */
    /* transition-delay: 2s; */
    /* transform: rotate(10deg) skew(30deg) scale(1,1) ; */
}
.box:hover{
    transition-duration: 1s;
    box-shadow: 0 0 10px black;
}

@media screen and (max-width:700px) {
    .box{
        background-color: black;
    }
}

@keyframes example {
    0% {
        transform: scale(0.4);
        
    }
    50%{
        background-color: aqua;
    }
    100%{
        transform: scale(2);
        background-color: red;
    }
}