body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: gray;
    color: black;
    margin: 50px;
}
.main-container{
    border: 2px solid black;
    width: 50%;
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

button{
  padding: 10px 20px;
  margin-bottom: 20px;
}
#result{
    display: block;
    margin: 0 auto;
    font-size: 25px;
}
img{
    width: 100px;
   
}


@media screen and (max-width: 750px) {
    img{
        width: 50px;
    }

    #result{
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
}

