body{
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;;
    margin: 0px;
    background-color: #f0f2f5
}
.strip > a img{
    height: 82px;
    width: 100%;
}
.service-list{
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-top: 5px;
   
}
.service-list > a img{
    width: 105px;
}
.all-header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 1000; */
}
.header1{
    background-color: #ed017f;
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
    height: fit-content;
    
}
.header1 img{
    display: block;
    width: 120px;
    margin-right: 10px;
    margin-top: 20px;
   
    
}
.header1-link{
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    
}
.header1-link:hover{
    transition-duration: 1s;
    color: #ed017f;
    background-color: white;
}
.search{
    display: flex;
    height: 50%;
    padding: 15px 10px;

}
input:focus {
    outline: none;
  }
  
.header1 input{
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin: 0;
}
.header1 .search-icon{
    color: white;
    background-color: #fba100;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    margin: 0;
}

.help{
    align-items: center;
    align-self: center;
}  
.help a{
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    align-self: center;
}
.help a:hover{
    transition-duration: 1s;
    color: #ed017f;
    background-color: white;
    

}
.help .question-icon{
    color: white;
    background-color: #f84ca2;
    padding: 5px;
    border-radius: 50%;
 
}


.cart{
    display: flex;
    align-self: center;
    align-items: center;
    background-color: rgb(51, 178, 123);
    height: 40px;
    padding: 2px 10px;

}
.cart:hover{
    background-color: rgba(51, 178, 123, 0.801);
}
.cart a{
    width: fit-content;
    height: fit-content;
    color: white;
    text-decoration: none;
    margin: 2px;

}
.cart-count{
    background-color: white;
    padding: 2px;
}

.header2{
    background-color: #7e0345;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 0px;
  
   
}
.header2 a{
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    padding-top: 15px;
    height: fit-content;
    width: fit-content;
    
}
.header2 a:hover{
    transition: 0.3s ease-in-out;
    color: black;
    background-color: white;
}
.header2 .all{
    font-weight: 700;
    padding: 12px 25px;
    padding-top: 15px;
}

.first-section{
    background-color: white;
    margin: 5px;
    padding: 10px 100px;
}
.first-section a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.arrow{ 
    font-size: 11px;
    color: grey;
}
.first-section h1{
    font-size: 37px;
    margin: 10px;
}
.daily-deals{
    color: #7e0345;
    font-weight: 700;
}

.strip-2 img{
    display: block;
    margin: 30px auto;
    width: 90%;
    height: auto;
    
}
/* .product-main-container{
    margin: 10px 110px;
} */
.product-card{
    background-color: white;
    width: 260px;
    height: fit-content;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
}
.product-card:hover{
   transition-duration: 0.5s;
    box-shadow: 0px 0px 10px grey;
}
.product-card img{
    width: fit-content;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.product-card a{
    text-decoration: none;
    color: inherit;
}
.product-main-container .product-card hr{
    color: gray;
    font-weight: lighter;
    border: 0.2px solid rgba(206, 206, 206, 0.342);
    margin: 0px;

}
.price{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 30px 5px;
}
.price p{
    margin: 0px;
}
.price .selling-price{
    font-size: 20px;
    font-weight: 700;
    
}
.price .cost-price{
    text-decoration:line-through;
    font-size: 15px;
    color: grey;
}
.price .discount{
    font-size: 11px;
    color:brown;
    font-weight: 500;
    background-color: #f5abd2;
    border-radius: 30%;
    padding: 3px;
    padding-bottom: 0px;
    width: fit-content;
}
.countdown{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.sold-count{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.percent{
    font-weight: 700;
}
.grey{
    width: 80px;
    height: 10px;
    background-color: #b5b5b5;
    border-radius: 10px;
    
}
.green{
    width: 20%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
}
/* .sold-count img{
    width: 10px;
    height: 10px;
} */
.add button{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 6px;
    color: #f84ca2;
    font-weight: 700;
    font-size: 13px;
    border: 1px solid #ed017f;
    border-radius: 3px;
    width: 95%;
    background-color: white;
}
.add button:hover{
    background-color: #ed017f;
    color: white;
    transition: 0.3s ease-in-out;
}

.product-main-container{
    display: flex;
    flex-wrap: wrap;
   
    gap: 1px;
    justify-content: space-between;
    padding: 0px 70px;
}

.main-footer{
    background-color: black;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    
}

.all-contact-container{
    background-color: #333232;
    /* padding: 5px 20px; */
    display: flex;
    justify-content: space-around;
}
.contact-container{
    width: fit-content;
    color: #b5b5b5;
    display: flex;
    align-items: center;
}
.contact-text p:hover{
    color: white;
}
.fa-envelope, .fa-phone, .fa-whatsapp{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    height: fit-content;
    margin: 15px;
    
}
.fa-phone{
    background-color: grey;
}
.foot-form{
    display: flex;
    align-items: center;
    
}
.foot-form input{
    padding: 10px 15px;
    height: 18px;
}
.foot-form p{
    background-color: #ed017f;
    padding: 10px 15px;
    height: 21px;
}
.links-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.links-container p, .links-container h4{
    color: #b5b5b5;
    
}
.links-container p:hover, .links-container h4:hover{
    color: white;
    cursor: pointer;
}
.copy{
    color: #f0f2f5;
    text-align: center;
}

/* dropdown */
.drop-down{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
}
.menu-container:hover .drop-down{
    display: block;
}
.main-container{
    font-family: Helvetica, sans-serif;
    background-color: white;
    display: flex;
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.side-container{
    width: fit-content;
    height: 100%;
    background-color: #f2f2f2;
    overflow-y: auto;
    position: sticky;
    top: 0;
    margin: 0;
    
}
.side-container a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 10px 0;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
   
}
.side-container a:hover{
    background-color: white;
    color: #ed017f;
    transition: 0.3s ease-in-out;
}
.other-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.other1{
    margin: 20px;
    cursor: pointer;
    text-align: left;
}

.other1 p:hover{
    color: #ed017f;
    transition: 0.3s ease-in-out;
}
.main-container img{
    height: fit-content;
    margin: 50px;
    
}


@media screen and (max-width:900px) {
    .strip, .service-list, .all-header{
        display: none;
    }
    .strip-2 img{
        width: 100%;

    }
    .product-main-container{
        justify-content: center;
        gap: 20px;
    }
    .product-card{
        width: 250px;
        height: fit-content;
    }
    .links-container{
        width: 100%;
    }
    .all-contact-container{
       align-items: center;
       flex-wrap: wrap;
       padding: 0;
    }
}