.flex-container{
    /* background: linear-gradient(90deg, rgb(234, 179, 154), rgb(180, 210, 145), rgb(200, 100, 170)); */
    background: radial-gradient(circle, brown 20%, teal 50%, grey 70%);
    display: flex;
    flex-direction: row;
    width: 50%;
    /* flex-wrap: wrap-reverse; */
   justify-content: center;
   gap: 24px;
   height: 500px;
   align-items: center;
}
.flex-container>div{
    width: 100px;
    height: 100px;
    border: 10px solid black;
    /* margin: 12px; */
    color: white;
    font-size: 32px;
    text-align: center;
}